@import "reset.less";
@import (reference) "vars.less";
@import (reference) "funcs.less";

html {
  overflow-x: hidden;
}

body {
  .fontParams('Lato');
}

a {
  text-decoration: none;
}

#header, .contacts, .admin-nav, #main-nav, .nav-links, .ncocials, .nsocials-currency, .content-block, .caption-section, .area-blocks  {
  display: flex;
}

/*##### Header #####*/
#header {
  background-color: @header-back-color;
  .fillRowNoWrap(0, 0, 5px);
  justify-content: space-between;
  font-size: 11px;
}

.contacts__icon {
  .imgIcon(11px, 11px, 18px);
}

#nav-admin {
  text-transform: uppercase;
}

.admin-nav__item:not(:last-child) {
   border-right: 1px solid lightgrey;
   padding: 0 35px;
 }

.admin-nav__item:last-child {
    padding-left: 35px;
}

.contacts, .admin-nav__link {
  color: @dark-grey-color;
}

.contacts {
  align-items: center;
}

.admin-nav__link {
  display: block;
  padding: 10px 0;
  &:hover {
    font-weight: 600;
    text-shadow: 0 0 5px @base-color;
  }
}
/*##########*/

/*#### Nav-links #####*/
.nav-links {
  justify-content: space-between;
  .edgeOutContent(@cantentOutPadGlobal, 20px);
}

.nav-main {
  display: flex;
  align-items: center;
  .fontParams('Playfair Display', serif, 18px);
  font-style: italic;
}

.main-nav__item {
}

.main-nav__link {
  margin-right: 25px;
  color: @dark-grey-color;
  &:hover {
    font-weight: 600;
    text-shadow: 0 0 5px @base-color;
  }
}

.logo-txt {
  width: 200px;
  height: 66px;
}
.nsocials-currency {
  align-items: center;
}

.nsocial-link {
  margin: 0 6px;
}
.nsocial-link__item {
  border: 2px solid @base-color;
  border-radius: 50%;
  color: @base-color;
  width: 34px;
  height: 34px;
  .centerChildLbl();
  &:hover {
    background-color: @base-color;
    color: @white-color;
  }
}

.nsocial-link__icon {

}

.currency {
  margin-left : 50px;
  text-transform: uppercase;
  height: 34px;
}
/*##########*/

/*#### Slider #####*/
.slider {
  .edgeOutContent(0, 20px, 20px, @max-width-viewport);;
}

.slider-top {
  background-image: url(../img/slider1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-top__content {
  height: 690px; //temporary;
}
/*##########*/

/*##### Support #####*/
.support {
  height: 100px;
  .edgeOutContent(@cantentOutPadGlobal, 20px);
}

.area-blocks {
  height: @height-support-elements;
  width: 100%;
  display: flex;
}

.area-block {
  &:nth-child(1) {
    .blockShape(~'calc(100% / 3 + 6px)', @height-support-elements, @base-color, 2, 0, 45px);
  }
  &:nth-child(2) {
    .blockShape(~'calc(100% / 3 + 6px)', @height-support-elements, @black-color, 1, 45px, 45px);
    margin: 0 -9px;
  }
  &:nth-child(3) {
    .blockShape(~'calc(100% / 3 + 6px)', @height-support-elements, @base-color, 2, 45px, 0);
  }
}

.content-block {
  align-items: center;
  color: @white-color;
  justify-content: center;
}

.content-block__icon {
  margin: 20px;
  font-size: 3em;
}
.content-block__caption {
  .fontParams('Lato', sans-serif, 30px);
  text-transform: uppercase;
}

.content-block__txt {
  .fontParams('Lato');
  text-transform: capitalize;
}
/*###########*/

/*###### Caption section(s) #####*/
.caption-section {
  align-items: center;
  .edgeOutContent(5px, 20px);
}
.caption-section__line {
  border-top: 1px solid lightgrey;
  width: 40%;
  height: 0;
}

.caption-section__caption {
  display: flex;
  .fontParams('Playfair Display', serif, 30px, 600);
  font-style: italic;
  text-transform: capitalize;;
  width: 30%;
  justify-content: space-around;
  flex: 1 0 400px;
  &:before, &:after {
    content: url('../img/rectangle90deg.png');
    margin: 0 15px;
  }
}
/*###########*/