@max-width-viewport: 1440px;
@max-width-content: 1310px;
@font-size-default: 14px;
@offset-pad-global: 20px;
@cantentOutPadGlobal: 10px;
@size-lbl: 60px;

@header-back-color: #f2f2f2;
@base-color: #d9bf8f;
@white-color: #fff;
@black-color: #000;
@dark-grey-color: #393939;
@height-support-elements: 100px;
