blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
abbr,
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
html {
  overflow-x: hidden;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
a {
  text-decoration: none;
}
#header,
.contacts,
.admin-nav,
#main-nav,
.nav-links,
.ncocials,
.nsocials-currency,
.content-block,
.caption-section,
.area-blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
/*##### Header #####*/
#header {
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 12px 10px 12px;
  position: relative;
  max-width: 1290px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 11px;
}
#header::after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: inherit;
  top: 0;
  z-index: -1;
  margin: auto;
  left: -50vw;
  right: -50vw;
}
.contacts__icon {
  width: 11px;
  height: 11px;
  padding-right: 18px;
  padding-left: 0;
  min-width: 11px;
}
#nav-admin {
  text-transform: uppercase;
}
.admin-nav__item:not(:last-child) {
  border-right: 1.5px solid lightgrey;
  padding: 0 35px;
}
.admin-nav__item:last-child {
  padding-left: 35px;
}
.contacts,
.admin-nav__link {
  color: #393939;
}
.contacts {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.admin-nav__link {
  display: block;
}
.admin-nav__link:hover {
  font-weight: 600;
  text-shadow: 0 0 5px #d9bf8f;
}
/*##########*/
/*#### Nav-links #####*/
.nav-links {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1290px;
  padding: 37px 10px 37px;
  margin: 0 auto;
}
.nav-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
}
.main-nav__link {
  margin-right: 25px;
  color: #393939;
}
.main-nav__link:hover {
  font-weight: 600;
  text-shadow: 0 0 5px #d9bf8f;
}
.logo-txt {
  width: 225px;
  height: 75px;
  margin-bottom: -45px;
}
.nsocials-currency {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nsocial-link {
  margin: 0 6px;
}
.nsocial-link__item {
  border: 2px solid #d9bf8f;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #d9bf8f;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.nsocial-link__item > * {
  margin: auto;
  font-size: 14px !important;
}
.nsocial-link__item:hover {
  background-color: #d9bf8f;
  color: #fff;
}
.currency {
  margin-left: 50px;
  height: 34px;
  background-color: #000;
  border: none;
  padding: 0 9px;
}
.currency::-ms-expand {
  color: #fff;
  background-color: #000;
  /*for IE*/
  border: none;
}
.currency,
.currency__item {
  color: #fff;
  text-transform: uppercase;
}
/*##########*/
/*#### Slider #####*/
.slider {
  max-width: 1440px;
  padding: 20px 10px 20px;
  margin: 0 auto;
}
.slider-top {
  position: relative;
}
.slider-top__img {
  width: 100%;
  height: auto;
}
.slider-top__content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.slider-top__content-info-out-border {
  border: solid 2px #fff;
  padding: 5px;
}
.slider-top__content-info {
  border: solid 1px #fff;
  padding: 28px;
}
.slider-top__content-info-season,
.slider-top__content-info-sale,
.slider-top__content-info-upto,
.slider-top__content-info-size-sale {
  font-weight: 600;
}
.slider-top__content-info-season,
.slider-top__content-info-upto {
  color: #fff;
}
.slider-top__content-info-season {
  font-size: 19px;
}
.slider-top__content-info-sale {
  font-size: 59px;
  margin: 16px 0;
}
.slider-top__content-info-upto {
  font-size: 19px;
  margin: 20px 0;
}
.slider-top__content-info-upto::before {
  content: '------';
  border-bottom: 1px solid #fff;
  text-align: right;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -2px;
  display: inline-block;
  line-height: 15px;
  padding-left: 27px;
  margin-right: 15px;
}
.slider-top__content-info-upto::after {
  content: '------';
  border-bottom: 1px solid #fff;
  text-align: right;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -2px;
  display: inline-block;
  line-height: 15px;
  padding-right: 27px;
  margin-left: 15px;
}
.slider-top__content-info-size-sale {
  font-size: 27px;
}
.base-btn {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 12px 15px;
  color: #fff;
  background-color: #f0975c;
  font-family: 'Lato', sans-serif;
  font-size: 14.5px;
  font-weight: normal;
  text-transform: uppercase;
}
.slider-top__btn {
  font-size: 24px;
  padding: 12px 29px;
  margin-top: 55px;
}
.slider-top__btn:hover {
  background-color: #d9bf8f;
}
.slick-next,
.slick-prev {
  display: none;
}
.slick-dots {
  bottom: 30px;
}
.slick-dots li button {
  width: 13px;
  height: 13px;
  background-color: #fff;
  opacity: 0.5;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.slick-dots li button::before {
  content: '';
}
.slick-dots li button:hover {
  background-color: #d9bf8f;
}
.slick-dots .slick-active button {
  background-color: #000;
  opacity: 1;
}
/*##########*/
/*##### Support #####*/
.support {
  height: 100px;
  max-width: 1290px;
  padding: 20px 10px 20px;
  margin: 0 auto;
}
.area-blocks {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.area-block:nth-child(1) {
  width: -webkit-calc(100% / 3 + 6px);
  width: -moz-calc(100% / 3 + 6px);
  width: calc(100% / 3 + 6px);
  position: relative;
}
.area-block:nth-child(1) .area-block__back {
  height: 100px;
  width: 100%;
  position: absolute;
  color: #d9bf8f;
}
.area-block:nth-child(1) .area-block__btop,
.area-block:nth-child(1) .area-block__bbot {
  height: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 0 solid transparent;
  border-right: 45px solid transparent;
}
.area-block:nth-child(1) .area-block__btop {
  border-bottom: 50px solid;
  border-top: none;
}
.area-block:nth-child(1) .area-block__bbot {
  border-top: 50px solid;
  border-bottom: none;
}
.area-block:nth-child(1) .content-block {
  height: 100px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 45px;
  position: relative;
}
.area-block:nth-child(2) {
  width: -webkit-calc(100% / 3 + 6px);
  width: -moz-calc(100% / 3 + 6px);
  width: calc(100% / 3 + 6px);
  position: relative;
  margin: 0 -9px;
}
.area-block:nth-child(2) .area-block__back {
  height: 100px;
  width: 100%;
  position: absolute;
  color: #000;
}
.area-block:nth-child(2) .area-block__btop,
.area-block:nth-child(2) .area-block__bbot {
  height: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
}
.area-block:nth-child(2) .area-block__btop {
  border-top: 50px solid;
  border-bottom: none;
}
.area-block:nth-child(2) .area-block__bbot {
  border-bottom: 50px solid;
  border-top: none;
}
.area-block:nth-child(2) .content-block {
  height: 100px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 45px;
  padding-right: 45px;
  position: relative;
}
.area-block:nth-child(3) {
  width: -webkit-calc(100% / 3 + 6px);
  width: -moz-calc(100% / 3 + 6px);
  width: calc(100% / 3 + 6px);
  position: relative;
}
.area-block:nth-child(3) .area-block__back {
  height: 100px;
  width: 100%;
  position: absolute;
  color: #d9bf8f;
}
.area-block:nth-child(3) .area-block__btop,
.area-block:nth-child(3) .area-block__bbot {
  height: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 45px solid transparent;
  border-right: 0 solid transparent;
}
.area-block:nth-child(3) .area-block__btop {
  border-bottom: 50px solid;
  border-top: none;
}
.area-block:nth-child(3) .area-block__bbot {
  border-top: 50px solid;
  border-bottom: none;
}
.area-block:nth-child(3) .content-block {
  height: 100px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 45px;
  padding-right: 0;
  position: relative;
}
.content-block {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content-block__icon {
  margin: 20px;
  font-size: 3em;
}
.content-block__caption {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}
.content-block__txt {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}
@media screen and (max-width: 1000px) {
  .support {
    height: 300px;
  }
  .area-blocks {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .area-blocks .area-block {
    width: 100%;
    position: relative;
    margin: 0;
  }
  .area-blocks .area-block .area-block__back {
    height: 100px;
    width: 100%;
    position: absolute;
    color: #d9bf8f;
  }
  .area-blocks .area-block .area-block__btop,
  .area-blocks .area-block .area-block__bbot {
    height: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
  }
  .area-blocks .area-block .area-block__btop {
    border-top: 50px solid;
    border-bottom: none;
  }
  .area-blocks .area-block .area-block__bbot {
    border-bottom: 50px solid;
    border-top: none;
  }
  .area-blocks .area-block .content-block {
    height: 100px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 45px;
    padding-right: 45px;
    position: relative;
  }
  .area-blocks .area-block:nth-child(2) .area-block__back {
    color: #000 !important;
  }
}
/*###########*/
/*###### Featured (HandPicked) ######*/
.featured {
  max-width: 1290px;
  padding: 0 10px 0;
  margin: 0 auto;
}
.grid-orders {
  display: grid;
  grid-template-columns: 1fr 1.15fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: 15px;
  margin: 20px 0;
}
.grid-orders__box {
  position: relative;
}
.grid-orders__box:hover .grid-orders__hover-box {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}
.grid-orders__box:hover .grid-orders__hover-box,
.grid-orders__box:hover .grid-orders__btn,
.grid-orders__box:hover .plus {
  display: block;
}
.pict-present {
  grid-column: 2;
  grid-row: 1 / span 2;
}
.grid-order__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
}
.grid-orders__hover-box {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #fff;
  background-color: transparent;
}
.hover-box-present {
  top: 2.5%;
  height: 95%;
}
.plus {
  display: block;
  margin: 0 auto;
  width: 61px;
  height: 61px;
  padding-right: 0;
  padding-left: 0;
  height: 78%;
  fill: #d9bf8f;
}
.grid-orders__btn,
.plus {
  display: none;
}
.grid-orders__btn:hover {
  background-color: #d9bf8f;
}
/*###########*/
/*###### Caption section(s) #####*/
.caption-section {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1290px;
  padding: 60px 0 60px;
  margin: 0 auto;
}
.caption-section__line {
  border-top: 1px solid lightgrey;
  width: 30%;
  height: 0;
}
.caption-section__caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  text-transform: capitalize;
  width: 35%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 400px;
  -moz-box-flex: 1;
  -ms-flex: 1 0 400px;
  flex: 1 0 400px;
}
.caption-section__caption::before,
.caption-section__caption::after {
  content: url('../img/rectangle90deg.png');
  margin: 0 15px;
}
.caption-section__caption::before::before,
.caption-section__caption::after::before {
  content: '2ndbefore';
}
/*###########*/
/*##### Recent ######*/
.recent {
  max-width: 1290px;
  padding: 20px 10px 20px;
  margin: 0 auto;
}
.recent-items {
  border: 1px solid lightgrey;
  padding: 9px;
  margin: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.recent-item {
  position: relative;
  display: block;
  font-size: 0;
  margin: 9px;
  width: -webkit-calc(100% / 4 - 18px);
  width: -moz-calc(100% / 4 - 18px);
  width: calc(100% / 4 - 18px);
}
.recent-item:hover {
  background-color: #000;
}
.recent-item:hover .recent-item__img {
  opacity: 0.5;
}
.recent-item__img {
  width: 100%;
  height: auto;
}
.recent-item__btn-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.recent-item__btn {
  height: 0;
  padding: 0;
  border-width: 0;
  color: white;
  background-color: transparent;
  border-bottom: 45px solid #000;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  cursor: pointer;
}
.recent-item__btn .recent-item__btn-txt {
  display: block;
  margin: 16px 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
.recent-item__btn:hover {
  border-bottom-color: #f0975c;
}
.recent-item__lbl {
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 17px;
  top: 17px;
  background-color: orange;
  display: none;
}
.recent-item__lbl-txt {
  color: #fff;
}
.recent-item__lbl-txt sup {
  font-size: 12px;
}
.discount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.discount > * {
  margin: auto;
  font-size: 22px !important;
}
@media screen and (max-width: 900px) {
  .recent-item {
    width: -webkit-calc(100% / 2 - 18px);
    width: -moz-calc(100% / 2 - 18px);
    width: calc(100% / 2 - 18px);
  }
}
@media screen and (max-width: 500px) {
  .recent-item {
    width: 100%;
  }
}
/*###########*/
/*##### Brand ######*/
.brand {
  max-width: 1290px;
  padding: 20px 10px 20px;
  margin: 0 auto;
}
.brand__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 50px 0;
}
.brand__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
}
.brand__item .brand__img {
  margin: auto;
}
.brand__item:hover {
  background-color: #f3ebdb;
}
@media screen and (max-width: 900px) {
  .brand__items {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .brand__item {
    width: 33.33%;
  }
}
@media screen and (max-width: 500px) {
  .brand__item {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .brand__item {
    width: 500%;
  }
}
/*###########*/
/*###### Testimonial (Customers Says) ######*/
.customers-feedbacks {
  margin: 0 auto;
  padding: 20px 10px 20px;
  position: relative;
  max-width: 1290px;
  background-color: #d9bf8f;
}
.customers-feedbacks::after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: inherit;
  top: 0;
  z-index: -1;
  margin: auto;
  left: -50vw;
  right: -50vw;
}
/*###### Footer ######*/
#footer {
  margin: 0 auto;
  padding: 20px 10px 20px;
  position: relative;
  max-width: 1290px;
  background-color: #141414;
  color: #363636;
}
#footer::after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: inherit;
  top: 0;
  z-index: -1;
  margin: auto;
  left: -50vw;
  right: -50vw;
}
.copyright {
  margin: 28px 0;
}
.copyright small {
  display: block;
}
.payment-cards__item {
  display: inline-block;
  margin-right: 30px;
}
.payment-cards__card-link:hover .payment-cards__img {
  color: #d9bf8f;
}
.payment-cards__img {
  color: grey;
}
/*############*/
/*###### Bottom ######*/
.bottom {
  margin: 0 auto;
  padding: 20px 0 20px;
  position: relative;
  max-width: 1290px;
  background-color: #000;
}
.bottom::after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: inherit;
  top: 0;
  z-index: -1;
  margin: auto;
  left: -50vw;
  right: -50vw;
}
/*############*/
